@{
    ViewData["Title"] = "Regras";
}

<div class="text-center">
    <p dir="ltr" class="zfr3Q CDt4Ke " style="text-align: center;">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-weight: 700;">
            Jogar limpo é
            a melhor estratégia!
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="text-align: center;">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-weight: 700;">
            Temos uma
            regra importante: jogar limpo, sempre.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="text-align: center;">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-weight: 700;">
            Agimos com
            honestidade, respeito e transparência!
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="text-align: center;">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-weight: 700;">
            As
            estratégias podem mudar, mas jogar limpo é condição.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="text-align: center;">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-weight: 700;">
            Sorte é para
            quem merece!
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="text-align: center;">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-weight: 700;">
            Tudo o que
            fazemos é pensado para oferecer desafios na medida certa, com equilíbrio
            entre sorte e estratégia.
        </span>
    </p>
</div>
<div class="regras" style="padding-left: 2rem;padding-right: 2rem;padding-bottom: 2rem;padding-top: 1rem;">
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-variant: normal; font-weight: 700;">
            REGRAS
            DO GRUPO WAR-GROW
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-variant: normal; font-weight: 700;">
            RESPEITO
            AOS MEMBROS DO GRUPO DENTRO E FORA DO JOGO
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            Evitar postar mensagens que possam ser
            interpretadas por um ou mais membros como sendo de caráter ofensivo, as
            brincadeiras devem ser saudáveis e sempre com respeito. Não passe
            correntes, faça propagandas, discuta política, religião, futebol, ou
            qualquer outro tema que não faça parte do perfil do grupo. Temos como objetivo orientar as pessoas para que possamos nos divertir e conviver em harmonia.
            Caso haja confusão pela insistência em descumprir as regras, os envolvidos ou envolvidas poderão ser expulsos ou expulsas do grupo.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-variant: normal; font-weight: 700;">LISTA</span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            Colocar o nome (igual ao cadastrado no sistema) seguido do apelido (igual ao que for jogar) entre
            parênteses e retirar o nome da lista se não for jogar. As listas terão
            validade de até 30 minutos, na hora que a mesa estiver criada os
            jogadores da lista terão prioridade, mas o tempo de espera é de no
            máximo 5 minutos à partir da criação da mesa e chamada dos jogadores da
            lista no grupo, se todos os jogadores da lista estiverem na mesa não
            precisa esperar pelos 5 minutos para iniciar a partida. Identificar o
            momento que a mesa for criada no grupo utilizando a frase: "mesa
            criada". Quem cria a mesa é responsável por atualizar e gerenciar a
            lista podendo ou não iniciar a partida com quem estiver presente e usar
            sempre o bom senso para evitar confusão.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-variant: normal; font-weight: 700;">PARTIDAS</span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            As partidas podem ser jogadas quantas
            vezes quiser, uma de cada vez com 3, 4, 5 ou 6 jogadores. Para que as
            partidas sejam válidas para o ranking é necessário que uma lista com o
            número da partida e data seja montada com o nome do jogador e apelido,
            com início e resultado marcados no grupo. Partidas sem início e
            resultado não serão contabilizadas no ranking. O
        </span><span class="C9DxTc " style="">
            vencedor ou a vencedora da partida deve fazer o
            cadastro do resultado no sistema.
        </span><a class="XqQF9c"
                  href="~/criar-partida"
                  style="color: inherit; text-decoration: none;">
            <span class="C9DxTc aw5Odc " style="text-decoration: underline;">Clique aqui</span>
        </a><span class="C9DxTc " style="">
            para cadastrar o
            resultado. Escolha a data da partida, os jogadores, horário de início e
            término da partida.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-variant: normal; font-weight: 700;">PARTIDAS X1, X2 e X3</span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            As partidas podem ser jogadas quantas
            vezes quiser, uma de cada vez com 2, 4 ou 6 jogadores. Para que as
            partidas sejam válidas para o ranking é necessário que uma lista com o
            número da partida e data seja montada com o nome do jogador e apelido,
            com início e resultado marcados no grupo. Partidas sem início e
            resultado não serão contabilizadas no ranking. O
        </span><span class="C9DxTc " style="">
            vencedor ou a vencedora da partida deve fazer o
            cadastro do resultado no sistema.
        </span><a class="XqQF9c"
                  href="~/criar-partida"
                  style="color: inherit; text-decoration: none;">
            <span class="C9DxTc aw5Odc " style="text-decoration: underline;">Clique aqui</span>
        </a><span class="C9DxTc " style="">
            para cadastrar o
            resultado. Escolha a data da partida, os jogadores, horário de início e
            término da partida.
        </span>
        <br /><span>Para as partidas "X1" quem vencer a partida deve obrigatoriamente escolher o jogador fake "X1 (Partida X1)" além do jogador ou jogadora que perdeu.</span>
        <br /><span>Para as partidas "X2" a dupla que vencer a partida deve obrigatoriamente escolher o jogador fake "X2 (Partida X2)" além da dupla que perdeu, um de cada vez como se fosse registrar o resultado de uma partida X1. Cada jogador ou jogadora que venceu a partida deve registrar separadamente o resultado como se fosse X1 escolhendo um jogador ou jogadora da dupla que perdeu.</span>
        <br /><span>Para as partidas "X3", se forem 3 duplas, a dupla que vencer a partida deve obrigatoriamente escolher o jogador fake "X3 (Partida X3)" além das duplas que perderam, uma dupla de cada vez como se fossem registrar o resultado de uma partida X1. Cada jogador ou jogadora que venceu a partida deve registrar separadamente o resultado como se fosse X1 escolhendo uma dupla que perdeu. No caso de 2 trios, o trio vencedor deve obrigatoriamente escolher o jogador fake "X3 (Partida X3)" além do trio que perdeu, um jogador ou jogadora de cada vez como se fossem registrar o resultado de uma partida X1. Cada jogador ou jogadora que venceu a partida deve registrar separadamente o resultado como se fosse X1 escolhendo um jogador ou jogadora do trio que perdeu.</span>
        <br /><span>Em resumo, se for uma partida X1 teremos apenas um resultado, se for uma partida X2 teremos 2 resuldados e se for uma partida X3 teremos 2 resultados para partidas com 3 duplas ou 3 resultados para partidas com 2 trios. Cada vencedor ou vencedora deve fazer o registro do resultado sem repetir os jogadores ou jogadoras que perderam e usando os jogadores fake de cada categoria (X1, X2 ou X3).</span>
        <br /><span>A definição das posições dos jogadores durante as partidas de X1, X2 e X3 fica a critério dos próprios jogadores e deve ser definido antes de cada partida e avisado no grupo com o consenso de todos os participantes.</span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-variant: normal; font-weight: 700;">
            PARTIDAS
            REINICIADAS
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            Partidas iniciadas só podem ser
            reiniciadas se travar o jogo de alguém ou alguém cair na primeira
            rodada, se houver ataque a partida não pode ser reiniciada. Usem sempre
            o bom senso e evitem confusão, todos estão no grupo para se divertir e
            jogar com respeito e honestidade.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-variant: normal; font-weight: 700;">CHAT</span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            Usar o chat com moderação e respeito, não
            falar sobre estratégias ou jogadas que possam influenciar no resultado
            da partida e não comentar no grupo sobre partidas em
            andamento.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            Caso algum jogador se sinta prejudicado a
            partida pode ser anulada por meio de análise feita pelo moderador ou
            votação, o voto da maioria decide o resultado e se houver empate na
            votação a decisão é do moderador.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-weight: 700;">BOT</span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc " style="">
            Se o
            BOT estiver jogado por 3 rodadas seguidas, não pode voltar a jogar, os outros
            jogadores devem avisar no CHAT e/ou no GRUPO e a pessoa deve abandonar
            imediatamente.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            Caso algum jogador se sinta prejudicado a
            partida pode ser anulada por meio de análise feita pelo moderador ou
            votação, o voto da maioria decide o resultado e se houver empate na
            votação a decisão é do moderador.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-weight: 700;">DEIXAR PASSAR O TEMPO</span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc " style="">
            Se deixar passar o tempo por mais de 3 rodadas não pode voltar a jogar, os outros
            jogadores devem avisar no CHAT e/ou no GRUPO e a pessoa deve abandonar
            imediatamente.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-variant: normal;">
            Caso algum jogador se sinta prejudicado a
            partida pode ser anulada por meio de análise feita pelo moderador ou
            votação, o voto da maioria decide o resultado e se houver empate na
            votação a decisão é do moderador.
        </span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc "
              style="font-family: 'Open sans', Arial; font-style: italic; font-weight: 700;">PONTUAÇÃO</span>
    </p>
    <p dir="ltr" class="zfr3Q CDt4Ke " style="">
        <span class="C9DxTc " style="">
            A
            pontuação é calculada automaticamente pelo sistema usando o desempenho e
            de acordo com a duração da partida. O cálculo do desempenho é o número
            de vitórias pelo número de partidas. Quanto maior o número de vitórias,
            melhor o desempenho. Quanto menor a duração da partida, maior a
            pontuação.
        </span>
    </p>
    <ul class="n8H08c UVNKR "
        style="list-style-type: square; margin-left: 0; margin-right: 0; padding: 0;">
        <li dir="ltr" class="zfr3Q TYR86d eD0Rn " style="margin-left: 15.0pt;">
            <p dir="ltr" role="presentation" class="zfr3Q CDt4Ke "
               style="margin-left: 0.0pt; padding-left: 0.0pt; text-indent: 0.0pt;">
                <span class="C9DxTc " style="">
                    Partidas de até 30 minutos de duração
                    valem 40 pontos;
                </span>
            </p>
        </li>
        <li dir="ltr" class="zfr3Q TYR86d eD0Rn " style="margin-left: 15.0pt;">
            <p dir="ltr" role="presentation" class="zfr3Q CDt4Ke "
               style="margin-left: 0.0pt; padding-left: 0.0pt; text-indent: 0.0pt;">
                <span class="C9DxTc " style="">
                    Partidas com duração entre 31 minutos
                    e 60 minutos valem 30 pontos;
                </span>
            </p>
        </li>
        <li dir="ltr" class="zfr3Q TYR86d eD0Rn " style="margin-left: 15.0pt;">
            <p dir="ltr" role="presentation" class="zfr3Q CDt4Ke "
               style="margin-left: 0.0pt; padding-left: 0.0pt; text-indent: 0.0pt;">
                <span class="C9DxTc " style="font-variant: normal;">
                    Partidas com
                    duração entre
                </span><span class="C9DxTc "
                             style="">6</span><span class="C9DxTc "
                                                    style="font-variant: normal;">1 minutos e </span><span class="C9DxTc " style="">9</span><span class="C9DxTc "
                                                                                                                                                  style="font-variant: normal;">0 minutos valem </span><span class="C9DxTc " style="">2</span><span class="C9DxTc "
                                                                                                                                                                                                                                                    style="font-variant: normal;">0 pontos;</span>
            </p>
        </li>
        <li dir="ltr" class="zfr3Q TYR86d eD0Rn " style="margin-left: 15.0pt;">
            <p dir="ltr" role="presentation" class="zfr3Q CDt4Ke "
               style="margin-left: 0.0pt; padding-left: 0.0pt; text-indent: 0.0pt;">
                <span class="C9DxTc " style="font-variant: normal;">
                    Partidas com
                    duração
                </span><span class="C9DxTc " style="">
                    maior
                    que
                </span><span class="C9DxTc " style="font-variant: normal;">
                </span><span class="C9DxTc " style="">91</span><span class="C9DxTc "
                                                                     style="font-variant: normal;"> minutos valem </span><span class="C9DxTc " style="">1</span><span class="C9DxTc "
                                                                                                                                                                      style="font-variant: normal;">0 pontos</span><span class="C9DxTc " style="">. Será permitido o abandono da partida após os 90 minutos, basta avisar no CHAT e/ou no GRUPO.</span>
            </p>
        </li>
    </ul>
</div>