@using ProjectAmaterasu.Extensions
@{
    ViewData["Title"] = "Regras";
}
@if (User.Identity.GetTema() == "1")
{
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regras do grupo War-Grow</title>
        <style>
            body {
                color: #343A40; /* Cor do texto */
                font-family: Arial, sans-serif;
            }

            .section {
                background-color: rgba(0,0,0,.1); /* Cor de fundo das seções */
                padding: 20px;
                margin: 10px;
                border-radius: 10px;
            }

            h4 {
                cursor: pointer;
            }

            p {
                margin: 10px 0;
            }

            .emoji {
                font-size: 20px;
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <div class="section" style="margin-top: -20px;">
            <h4><strong><span class="emoji">🎲</span>WAR-GROW <span class="emoji">💣</span></strong></h4>
            <h6><strong>Jogar limpo é a melhor estratégia!</strong><span class="emoji"> 😎</span></h6>
            <h6>Sempre agimos com honestidade, respeito e transparência. 🤝</h6>
            <h6>Sorte é para quem merece! 🍀</h6>
            <h6>Tudo o que fazemos é pensado para oferecer desafios na medida certa, com equilíbrio entre sorte e estratégia. 🧠</h6>
        </div>

        <div class="section">
            <h4><span class="emoji">📋</span>REGRAS DO GRUPO <span class="emoji">📣</span></h4>
            <p><strong>Respeito aos membros do grupo dentro e fora do jogo</strong> 🤗</p>
            <p>Evite postar mensagens ofensivas, mantenha as brincadeiras saudáveis e respeitosas. Não discuta política, religião, futebol ou temas não relacionados ao grupo. Se não seguir as regras, pode ser expulso! 👟</p>
        </div>

        <div class="section">
            <h4><span class="emoji">📜</span>LISTA <span class="emoji">📝</span></h4>
            <p>Adicione seu nome e apelido entre parênteses e retire da lista se não for jogar. Lembre-se, prioridade para os da lista, mas seja rápido! 📅</p>
        </div>

        <div class="section">
            <h4><span class="emoji">🎮</span>PARTIDAS <span class="emoji">🎲</span></h4>
            <p>Jogue quantas vezes quiser, mas lembre-se de registrar as partidas para o ranking. Quem vencer deve cadastrar o resultado! 🏆</p>
        </div>

        <div class="section">
            <h4><span class="emoji">🎲</span>PARTIDAS X1, X2 e X3 <span class="emoji">🎯</span></h4>
            <p>&nbsp;</p>
            <p>🏆 Para as batalhas épicas "X1," quando você for o campeão, você tem que escolher o jogador fake "X1 (Partida X1)" 🤖, além da vítima derrotada.</p>
            <p>&nbsp;</p>
            <p>🥇 Nas partidas "X2," a dupla vitoriosa não pode escapar! Eles devem selecionar o jogador fake "X2 (Partida X2)" 🤖, além da dupla que sofreu a derrota, um de cada vez, como se estivessem fazendo um registro de resultados de partida X1. Cada vencedor precisa anotar separadamente o resultado, escolhendo um membro da dupla perdedora.</p>
            <p>&nbsp;</p>
            <p>🏁 E agora, para as grandiosas partidas "X3" - se houver 3 duplas no ringue 🥊, a dupla vitoriosa deve, sem falta, escolher o jogador fake "X3 (Partida X3)" 🤖, além das duplas derrotadas. Eles farão isso um par de cada vez, como se estivessem registrando uma partida X1. Cada jogador que sair vitorioso deve registrar separadamente o resultado, selecionando uma dupla que perdeu.</p>
            <p>&nbsp;</p>
            <p>✌️ Se tivermos 2 trios batalhando 💥, o trio vencedor também deve se render ao jogador fake "X3 (Partida X3)" 🤖, além do trio que não teve sorte. Eles farão isso um jogador de cada vez, como se estivessem apontando o dedo para a derrota. Cada campeão deve fazer o registro do resultado separadamente, escolhendo um jogador do trio que perdeu.</p>
            <p>&nbsp;</p>
            <p><strong>📊 Resumindo a parada:</strong></p>
            <p>◼ Partida X1 = 1 resultado</p>
            <p>◼ Partida X2 = 2 resultados</p>
            <p>◼ Partida X3 com 3 duplas = 2 resultados</p>
            <p>◼ Partida X3 com 2 trios = 3 resultados</p>
            <p>&nbsp;</p>
            <p>💥 Cada vencedor deve ser criativo no registro dos resultados, sem repetir os perdedores, e usando os jogadores fake (X1, X2 ou X3) como se fossem a cereja do bolo! 🍒 Agora é só se divertir e jogar sem limites! 🚀</p>
            <p>&nbsp;</p>
            <p>🎮 Defina as posições antes da partida! 🔢</p>
        </div>

        <div class="section">
            <h4><span class="emoji">↩</span>PARTIDAS REINICIADAS <span class="emoji">🔄</span></h4>
            <p>Reinicie apenas se travar ou alguém cair na 1ª rodada. Se houver ataque, não reinicie. Jogue com respeito! 🔄</p>
        </div>

        <div class="section">
            <h4><span class="emoji">💬</span>CHAT <span class="emoji">💭</span></h4>
            <p>Use o chat com moderação e evite falar sobre estratégias que influenciem o jogo. Não comente sobre partidas em andamento! 🤐</p>
        </div>

        <div class="section">
            <h4><span class="emoji">👾</span>BOT <span class="emoji">🤖</span></h4>
            <p>Se o BOT jogar por 3 rodadas seguidas, não jogue mais. Avise no chat e no grupo! 🤖</p>
        </div>

        <div class="section">
            <h4><span class="emoji">⏱</span>DEIXAR PASSAR O TEMPO <span class="emoji">⏳</span></h4>
            <p>Se deixar passar o tempo por mais de 3 rodadas, não jogue mais. Avise no chat e no grupo! ⏰</p>
        </div>

        <div class="section">
            <h4><span class="emoji">📊</span>PONTUAÇÃO <span class="emoji">📈</span></h4>
            <p>A pontuação é calculada automaticamente com base no desempenho e na duração das partidas. Quanto mais vitórias e menos tempo, melhor! 🏅</p>
            <p>Partidas de até 30 minutos: 40 pontos. 🕒</p>
            <p>31 a 60 minutos: 30 pontos. 🕕</p>
            <p>61 a 90 minutos: 20 pontos. 🕘</p>
            <p>Mais de 90 minutos: 10 pontos, com permissão para abandonar após 90 minutos. ⏳</p>
        </div>

        <script>
            // Seleciona todas as seções
            const sections = document.querySelectorAll('.section');

            // Adiciona um evento de clique para cada seção
            sections.forEach(section => {
                const title = section.querySelector('h4');
                const content = section.querySelectorAll('p');

                // Inicialmente, todas as seções estão fechadas
                content.forEach(p => {
                    p.style.display = 'none';
                });

                // Quando o título é clicado, alterna a exibição do conteúdo
                title.addEventListener('click', () => {
                    content.forEach(p => {
                        p.style.display = (p.style.display === 'none') ? 'block' : 'none';
                    });
                });
            });
        </script>
    </body>
    </html>
}
else if (User.Identity.GetTema() == "2")
{
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regras do grupo War-Grow</title>
        <style>
            body {
            color: #ffffff; /* Cor do texto */
            font-family: Arial, sans-serif;
            }

            .section {
                background-color: #343a40; /* Cor de fundo das seções */
            padding: 20px;
            margin: 10px;
            border-radius: 10px;
            }

            h4 {
            cursor: pointer;
            }

            p {
            margin: 10px 0;
            }

            .emoji {
            font-size: 20px;
            margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <div class="section" style="margin-top: -20px;">
            <h4><strong><span class="emoji">🎲</span>WAR-GROW <span class="emoji">💣</span></strong></h4>
            <h6><strong>Jogar limpo é a melhor estratégia!</strong><span class="emoji"> 😎</span></h6>
            <h6>Sempre agimos com honestidade, respeito e transparência. 🤝</h6>
            <h6>Sorte é para quem merece! 🍀</h6>
            <h6>Tudo o que fazemos é pensado para oferecer desafios na medida certa, com equilíbrio entre sorte e estratégia. 🧠</h6>
        </div>

        <div class="section">
            <h4><span class="emoji">📋</span>REGRAS DO GRUPO <span class="emoji">📣</span></h4>
            <p><strong>Respeito aos membros do grupo dentro e fora do jogo</strong> 🤗</p>
            <p>Evite postar mensagens ofensivas, mantenha as brincadeiras saudáveis e respeitosas. Não discuta política, religião, futebol ou temas não relacionados ao grupo. Se não seguir as regras, pode ser expulso! 👟</p>
        </div>

        <div class="section">
            <h4><span class="emoji">📜</span>LISTA <span class="emoji">📝</span></h4>
            <p>Adicione seu nome e apelido entre parênteses e retire da lista se não for jogar. Lembre-se, prioridade para os da lista, mas seja rápido! 📅</p>
        </div>

        <div class="section">
            <h4><span class="emoji">🎮</span>PARTIDAS <span class="emoji">🎲</span></h4>
            <p>Jogue quantas vezes quiser, mas lembre-se de registrar as partidas para o ranking. Quem vencer deve cadastrar o resultado! 🏆</p>
        </div>

        <div class="section">
            <h4><span class="emoji">🎲</span>PARTIDAS X1, X2 e X3 <span class="emoji">🎯</span></h4>
            <p>🏆 Para as batalhas épicas "X1", quando você for o campeão, você tem que escolher o jogador fake "X1 (Partida X1)" 🤖, além da vítima derrotada.</p>
            <p>🥇 Nas partidas "X2", a dupla vitoriosa não pode escapar! Eles devem selecionar o jogador fake "X2 (Partida X2)" 🤖, além da dupla que sofreu a derrota, um de cada vez, como se estivessem fazendo um registro de resultados de partida X1. Cada vencedor precisa anotar separadamente o resultado, escolhendo um membro da dupla perdedora.</p>
            <p>🏁 E agora, para as grandiosas partidas "X3" - se houver 3 duplas no ringue 🥊, a dupla vitoriosa deve, sem falta, escolher o jogador fake "X3 (Partida X3)" 🤖, além das duplas derrotadas. Eles farão isso um par de cada vez, como se estivessem registrando uma partida X1. Cada jogador que sair vitorioso deve registrar separadamente o resultado, selecionando uma dupla que perdeu.</p>
            <p>✌️ Se tivermos 2 trios batalhando 💥, o trio vencedor também deve se render ao jogador fake "X3 (Partida X3)" 🤖, além do trio que não teve sorte. Eles farão isso um jogador de cada vez, como se estivessem apontando o dedo para a derrota. Cada campeão deve fazer o registro do resultado separadamente, escolhendo um jogador do trio que perdeu.</p>
            <p><strong>📊 Resumindo a parada:</strong></p>
            <p>◼ Partida X1 = 1 resultado</p>
            <p>◼ Partida X2 = 2 resultados</p>
            <p>◼ Partida X3 com 3 duplas = 2 resultados</p>
            <p>◼ Partida X3 com 2 trios = 3 resultados</p>
            <p>💥 Cada vencedor deve ser criativo no registro dos resultados, sem repetir os perdedores, e usando os jogadores fake (X1, X2 ou X3) como se fossem a cereja do bolo! 🍒 Agora é só se divertir e jogar sem limites! 🚀</p>
            <p>🎮 Defina as posições antes da partida! 🔢</p>
        </div>

        <div class="section">
            <h4><span class="emoji">💣</span>PARTIDAS X4 <span class="emoji">🔪</span></h4>
            <p>🎮 Preparem-se para a diversão com o jogo mata-mata X4, onde o número mágico é 4! Reúnam-se em grupos de 4 jogadores e vamos à ação! O objetivo? Eliminar alguém, é claro! 🔢 Assim que alguém for eliminado, a partida chega ao fim, e o grande exterminador é coroado o vencedor da vez! 🏆</p>
            <p>🩸 E agora, para as Batalhas Sangrentas "X4" - quando você assume o papel de assassino 🔪 - você tem um desafio extra! Você deve identificar o jogador fake "X4 (Partida X4)" 🤖 entre seus alvos, além da pobre vítima 💀 e os outros coitados. Vai ser um festival de adrenalina e caos! 💥</p>
        </div>

        <div class="section">
            <h4><span class="emoji">⌚</span>PARTIDAS VENCIDAS NO TEMPO <span class="emoji">⏲</span></h4>
            <p>🗣 Combine o tempo máximo de duração da partida, se não atingir o limite pré estabelecido registre normalmente! 🏆</p>
            <p>⌛ Caso o tempo combinado seja atingido sem ninguém ter atingido o objetivo, informe no chat a última rodada e determine o vencedor da partida através dos critérios de desempate.</p>
            <p><strong>📊 Critérios de desempate:</strong></p>
            <p>🗺 Totalidade de cada continente:</p>
            <p>A mesma quantidade na reposição dos exércitos.</p>
            <p>◼ Ásia: 7 pontos 🌏</p>
            <p>◼ América do Norte: 5 pontos 🌎</p>
            <p>◼ Europa: 5 pontos 🌍</p>
            <p>◼ África: 3 pontos 🌍</p>
            <p>◼ Oceania: 2 pontos 🌏</p>
            <p>◼ América do Sul: 2 pontos🌎</p>
            <p>⚔ Quantidade de exércitos:</p>
            <p>◼ 1% do somatório dos mesmos</p>
            <p>🗺 Quantidade de territórios:</p>
            <p>◼ 1 ponto para cada território</p>
        </div>

        <div class="section">
            <h4><span class="emoji">↩</span>PARTIDAS REINICIADAS <span class="emoji">🔄</span></h4>
            <p>Reinicie apenas se travar ou alguém cair na 1ª rodada. Se houver ataque, não reinicie. Jogue com respeito! 🔄</p>
        </div>

        <div class="section">
            <h4><span class="emoji">💬</span>CHAT <span class="emoji">💭</span></h4>
            <p>Use o chat com moderação e evite falar sobre estratégias que influenciem o jogo. Não comente sobre partidas em andamento! 🤐</p>
        </div>

        <div class="section">
            <h4><span class="emoji">👾</span>BOT <span class="emoji">🤖</span></h4>
            <p>Se o BOT jogar por 3 rodadas seguidas, não jogue mais. Avise no chat e no grupo! 🤖</p>
        </div>

        <div class="section">
            <h4><span class="emoji">⏱</span>DEIXAR PASSAR O TEMPO <span class="emoji">⏳</span></h4>
            <p>Se deixar passar o tempo por mais de 3 rodadas, não jogue mais. Avise no chat e no grupo! ⏰</p>
        </div>

        <div class="section">
            <h4><span class="emoji">📊</span>PONTUAÇÃO <span class="emoji">📈</span></h4>
            <p>A pontuação é calculada automaticamente com base no desempenho e na duração das partidas. Quanto mais vitórias e menos tempo, melhor! 🏅</p>
            <p>Partidas de até 30 minutos: 40 pontos. 🕒</p>
            <p>31 a 60 minutos: 30 pontos. 🕕</p>
            <p>61 a 90 minutos: 20 pontos. 🕘</p>
            <p>Mais de 90 minutos: 10 pontos, com permissão para abandonar após 90 minutos. ⏳</p>
        </div>

        <script>
            // Seleciona todas as seções
            const sections = document.querySelectorAll('.section');

            // Adiciona um evento de clique para cada seção
            sections.forEach(section => {
            const title = section.querySelector('h4');
            const content = section.querySelectorAll('p');

            // Inicialmente, todas as seções estão fechadas
            content.forEach(p => {
            p.style.display = 'none';
            });

            // Quando o título é clicado, alterna a exibição do conteúdo
            title.addEventListener('click', () => {
            content.forEach(p => {
            p.style.display = (p.style.display === 'none') ? 'block' : 'none';
            });
            });
            });
        </script>
    </body>
    </html>
}