<!DOCTYPE html>
<html>
<head>
    <title>Informações de IP</title>
</head>
<body>
    <h1>Informações de IP</h1>
    <p>Endereço de IP: <span id="ip"></span></p>
    <p>País: <span id="country"></span></p>
    <p>Região: <span id="region"></span></p>
    <script>
        async function fetchData() {
            const request = await fetch("https://ipinfo.io/json?token=aaf5f2a365d80d");
            const jsonResponse = await request.json();

            // Atualize os elementos HTML com os dados obtidos
            document.getElementById("ip").textContent = jsonResponse.ip;
            document.getElementById("country").textContent = jsonResponse.country;
            document.getElementById("region").textContent = jsonResponse.region;
        }

        // Chame a função para buscar os dados e exibi-los
        fetchData();
    </script>
</body>
</html>