@model List<UsuarioViewModels>;
@{
    ViewData["Title"] = "Histórico";
}

<div class="row" style="display: flex; align-items: center; flex-direction: column;">
    <div class="col-auto">
        <label class="control-label text-center" for="Rankings">Histórico</label>
        <div class="button dropdown">
            <select for="Data " name="Data" id="Data" class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="">Selecione</option>
                @foreach (var item in Model)
                {
                    <option value="/historico-ranking/@item.Data.ToString("MM-dd-yyyy")">@item.Data.ToString("MM/yyyy")</option>
                }
            </select>
        </div>
    </div>
</div>
