@using ProjectAmaterasu.Extensions
@model List<UsuarioViewModels>;
@{
    ViewData["Title"] = "Histórico";
}
<div class="row" style="display: flex; align-items: center; flex-direction: column;">
    <div class="col-auto">
        <label class="control-label text-center" for="Rankings">Histórico</label>
        <div class="button dropdown" style="float: right; margin-left: 10px;">
            <select for="Data " name="Data" id="Data" class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="">Selecione</option>
                @foreach (var item in Model)
                {
                    <option value="/historico/@item.Data.ToString("MM-dd-yyyy")">
                        @item.Data.ToString("MMMM/yyyy").ToUpper().Replace("JANUARY", "JANEIRO").Replace("FEBRUARY", "FEVEREIRO").Replace("MARCH", "MARÇO").Replace("APRIL", "ABRIL").Replace("MAY", "MAIO").Replace("JUNE", "JUNHO").Replace("JULY", "JULHO").Replace("AUGUST", "AGOSTO").Replace("SEPTEMBER", "SETEMBRO").Replace("OCTOBER", "OUTUBRO").Replace("NOVEMBER", "NOVEMBRO").Replace("DECEMBER", "DEZEMBRO")
                    </option>
                }
            </select>
        </div>
    </div>
</div>
<br />
<p style=" text-align: center;font-weight: bolder;">CAMPEÕES POR PERÍODO</p>
@if (User.Identity.GetTema() == "1")
{
    <style>
        .dt-buttons {
            display: none;
        }

        table.dataTable thead th {
            text-align: center !important;
        }

        table.dataTable tbody tr {
            text-align: center !important;
        }

        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc {
            background: none !important;
            text-align: center !important;
        }
    </style>
    <div class="container-fluid">
        <div>
            <div class="container">
                <div id="grid">
                    <table class="table table-bordered table-striped" id="ranking">
                        <thead>
                            <tr>
                                <th scope="col">DATA</th>
                                <th scope="col">NOME</th>
                                <th scope="col">P</th>
                                <th scope="col">J</th>
                                <th scope="col">V</th>
                                <th scope="col">%</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else if (User.Identity.GetTema() == "2")
{
    <style>
        .dt-buttons {
            display: none;
        }

        table.dataTable thead th {
            text-align: center !important;
        }

        table.dataTable tbody tr {
            text-align: center !important;
            color: white !important;
            background-color: #212529;
        }

        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc {
            background: none !important;
            text-align: center !important;
        }
    </style>
    <div class="container-fluid">
        <div>
            <div class="container">
                <div id="grid">
                    <table class="table table-bordered table-striped table-dark" id="ranking">
                        <thead>
                            <tr>
                                <th scope="col">DATA</th>
                                <th scope="col">NOME</th>
                                <th scope="col">P</th>
                                <th scope="col">J</th>
                                <th scope="col">V</th>
                                <th scope="col">%</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <p style=" text-align: center;font-weight: bolder;">
        <a class="XqQF9c"
           href="https://liveestacio-my.sharepoint.com/:x:/g/personal/201607437041_alunos_estacio_br/ER59SZyV6NVCni1oYhQuCf0BPou8257iCpN75SUnzdCitA?e=fikGCL" target="_blank"
           style="color: inherit; text-decoration: none;">
            <span class="C9DxTc aw5Odc " style="text-decoration: underline;">Clique aqui para ver todos os registros anteriores.</span>
        </a>
    </p>
</div>

<!-- DataTables -->
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var table = $('#ranking').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/pt-BR.json'
            },
            dom: 'Bfrltip',
            pageLength: 6,
            lengthMenu: [[3, 6, 12, -1], [3, 6, 12, "Todos"]],
            ajax: "/Ranking/getCampeoes",
            order: [0, 'desc'],
            columnDefs: [
                {
                    orderable: false,
                    targets: [0, 1, 2, 3, 4, 5],},
                                            {
                    searchable: false,
                    targets: [0, 2, 3, 4, 5],
                },
            ],
            columns: [
                { data: 'data' },
                { data: 'nome' },
                { data: 'pontuacao' },
                { data: 'jogos' },
                { data: 'vitorias' },
                { data: 'desempenho' },
            ],
        });
    });
</script>