@{
    TempData["LinkSessao"] = "";
    TempData["Sessao"] = "Ranking";
    TempData["Pagina"] = "Ranking";
    ViewData["Title"] = "Ranking";
}
<style>
    table.dataTable tbody tr {
        background-color: unset !important;
        text-align: center !important;
    }
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none !important;
        text-align: center !important;
    }
    div.dt-buttons {
        float: left !important;
    }
    .content-header {
        padding: 5px !important;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div>
            <div class="container">
                <div id="grid">
                    <table class="table table-bordered" id="ranking">
                        <thead>
                            <tr>
                                <th scope="col" aria-label="#" class="sorting_disabled" rowspan="1" colspan="1" style="display: flex;justify-content: center;">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">P</th>
                                <th scope="col">J</th>
                                <th scope="col">V</th>
                                <th scope="col">%</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        var table = $('#ranking').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/pt-BR.json'
            },
            dom: 'Bfrltip',
            pageLength: 10,
            lengthMenu: [10, 25, 50, 100],
            ajax: "@Html.Raw("./Ranking/getRankings")",
            buttons: [
                'print'
            ],
            order: [[2, 'desc'], [5, 'desc'], [4, 'desc'], [3, 'asc'], [1, 'asc']],
            columnDefs: [
            {
                orderable: false,
                targets: [0, 1, 2, 3, 4, 5],
            },
            ],
            columns: [
                {
                  "data": "",
                  "defaultContent": ""
                },
                { data: 'nome' },
                { data: 'pontuacao' },
                { data: 'jogos' },
                { data: 'vitorias' },
                {
                    data: null,
                    className: 'options',
                    render: function (data, type, full, meta) {
                        return ((data.vitorias / (data.vitorias + data.derrotas)) * 100).toFixed(0);
                    }
                }
            ],
        });

        table.on('order.dt', function () {
            let e = 1; 
            table.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(e++);
            });
        }).draw();
    });
</script>
