    <strong>Copyright &copy; 2019 - @DateTime.Now.Year</strong>
<div style="float: right;">
    <a href="https://www.instagram.com/war_grow/" target="_blank" class="RNpQXe" style="width: 20px;height: 20px;margin: 6px;">
        <img src="https://lh5.googleusercontent.com/gzNfrNBJ-DKbeRsXJy3VvgW6eal-bB54_EDIhc4G69cTdMnM9oojg1wZ1QsOiu2-wN_RSYM-s6fbM_3yZMezCHFVDY88WCE" alt="Instagram" class="xbGufb" style="width: 20px; height: 20px;" width="20" height="20">
    </a>
    <a href="https://discord.com/invite/7cNqtMQpnt" target="_blank" class="RNpQXe" style="width: 20px;height: 20px;margin: 6px;">
        <img src="https://lh4.googleusercontent.com/j11K5Ae4wPbojjXKmXcqhbjCno20DHFsvWjr4qi7uaGbfhjQ4DooQyUKdrD9XJZgb9h8kpXtIhn5mgsk8NfuHVGQrxK2vVc" alt="Link" class="xbGufb" style="width: 20px; height: 20px;" width="20" height="20">
    </a>
</div>
