@using ProjectAmaterasu.Extensions

@if (User.Identity.GetRole() == "Usuario_Comum")
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Temas
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="~/troca-de-tema/1" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Tema v1</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/troca-de-tema/2" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Tema v2</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/troca-de-tema/3" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Tema v3</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Partida
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="~/partida" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Listar Partidas</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/criar-partida" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Criar Partida</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Ranking
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="~/ranking" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ranking</p>
                </a>
                <a href="~/historico-ranking" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Histórico do Ranking</p>
                </a>
            </li>
        </ul>
    </li>

}
else if (User.Identity.GetRole() == "Administrador")
{
    <li class="nav-item">
        <a href="~/painel-administrador" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Home</p>
        </a>
    </li>
}

@*<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p>
            Layout Options
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right">6</span>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="pages/layout/top-nav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Top Navigation</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Top Navigation + Sidebar</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/layout/boxed.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Boxed</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/layout/fixed-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Sidebar</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/layout/fixed-sidebar-custom.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Sidebar <small>+ Custom Area</small></p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/layout/fixed-topnav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Navbar</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/layout/fixed-footer.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Footer</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Collapsed Sidebar</p>
            </a>
        </li>
    </ul>
</li>*@