@using ProjectAmaterasu.Extensions

<ul class="navbar-nav">
    @if (User.Identity.GetRole() == "Usuario_Comum")
    {
    
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    }
    else if (User.Identity.GetRole() == "Administrador"){
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    }
</ul>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="/" role="button">
            <i class="fas fa-home"></i>
        </a>
    </li>
        @if (User.Identity.GetRole() == "Usuario_Comum")
    {
        <li class="nav-item">
            <a class="nav-link" href="/perfil" role="button">
                <i class="fas fa-user-circle"></i>
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/sair" title="Sair">
            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </a>
    </li>
</ul>
