@using ProjectAmaterasu.Extensions

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <div class="circulo">
            <h2>@User.Identity.GetIniciais()</h2>
        </div>
    </div>
    <div class="info">
        <a href="/perfil" class="d-block">@Html.Raw(User.Identity.GetName())</a>
    </div>
</div>
