@using ProjectAmaterasu.Extensions

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <div class="circulo">
            <h2>@User.Identity.GetIniciais()</h2>
        </div>
    </div>
    <div class="info">
        <a href="/perfil" class="d-block">@Html.Raw(User.Identity.GetName())</a>
    </div>
</div>
@*<div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
            </button>
        </div>
    </div>
</div>*@